<div class="page-header text-center">
    <h1>Find Movie</h1>
</div>
<div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
        <div class="input-group input-group-lg">
            <div class="input-group-btn">
                <button (click)="searchTerm$.next(searchTerm.value)" class="btn btn-default" data-toggle="dropdown" type="button">Search</button>
                <ul class="dropdown-menu lead" aria-labelledby="dropdownMenu2">
                    <li *ngFor="let movie of movies"><a (click)="searchMovie$.next(movie?.Title)">{{movie?.Title}}<small> ({{movie?.Year}})</small></a></li>
                </ul>
            </div>
            <input type="text" class="form-control" placeholder="Search for..." value="{{selectedMovie?.Title}}" #searchTerm>
        </div>
    </div>
</div>
<div *ngIf="selectedMovie" class="well">
    <div class="media">
        <div class="media-left hidden-sm">
            <img class="media-object" src="{{selectedMovie?.Poster}}" alt="...">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{selectedMovie?.Title}}<small> ({{selectedMovie?.Year}})</small></h2>
            <p class="lead">{{selectedMovie?.Plot}}</p>
        </div>
    </div>
</div>